* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: "Montserrat", sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  overflow-x: hidden;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: none;
}

.content {
  flex: 1 1 auto;
}

.main-page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: none;
}
@media (max-width: 767px) {
  .main-page {
    display: flex;
    flex-direction: column;
    justify-content: none;
    align-items: flex-start;
  }
}

.left-side {
  min-height: 100vh;
  background-color: #094e6f;
}
@media (max-width: 767px) {
  .left-side {
    width: 100%;
    min-height: auto;
  }
}
.left-side .left-side-first-frame__foto img {
  display: block;
  margin: 15px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 0 15px aliceblue;
}
@media (min-width: 2250px) {
  .left-side .left-side-first-frame__foto img {
    width: 250px;
    height: 250px;
  }
}
@media (min-width: 2500px) {
  .left-side .left-side-first-frame__foto img {
    width: 300px;
    height: 300px;
  }
}
@media (min-width: 3000px) {
  .left-side .left-side-first-frame__foto img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 767px) {
  .left-side .left-side-first-frame__foto img {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 480px) {
  .left-side .left-side-first-frame__foto img {
    width: 250px;
    height: 250px;
  }
}
.left-side .left-side-first-frame__name {
  margin-bottom: 15px;
}
.left-side .left-side-first-frame__name p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: none;
  color: #fff;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 2250px) {
  .left-side .left-side-first-frame__name p {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
  }
}
@media (min-width: 2500px) {
  .left-side .left-side-first-frame__name p {
    font-size: 26px;
    line-height: 38px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
  }
}
@media (min-width: 3000px) {
  .left-side .left-side-first-frame__name p {
    font-size: 30px;
    line-height: 42px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
  }
}
.left-side .left-side-first-frame__contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
}
.left-side .left-side-first-frame__contact p {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: none;
  color: #fff;
  font-weight: 700;
  padding: 5px 30px;
  margin-bottom: 10px;
  background-color: rgba(0, 54, 88, 0.6);
}
@media (min-width: 2250px) {
  .left-side .left-side-first-frame__contact p {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
    padding: 7px 30px;
    margin-bottom: 12px;
  }
}
@media (min-width: 2500px) {
  .left-side .left-side-first-frame__contact p {
    font-size: 26px;
    line-height: 38px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
    padding: 9px 30px;
    margin-bottom: 14px;
  }
}
@media (min-width: 3000px) {
  .left-side .left-side-first-frame__contact p {
    font-size: 30px;
    line-height: 42px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
    padding: 11px 30px;
    margin-bottom: 16px;
  }
}
.left-side .left-side-first-frame__link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  padding: 0 30px;
}
.left-side .left-side-first-frame__link img {
  border: 0px solid #000;
  width: 35px;
  height: 35px;
  border-radius: 0%;
  margin-top: 0;
  margin-bottom: 0;
  filter: brightness(0) invert(1);
}
@media (min-width: 2250px) {
  .left-side .left-side-first-frame__link img {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 2500px) {
  .left-side .left-side-first-frame__link img {
    width: 65px;
    height: 65px;
  }
}
@media (min-width: 3000px) {
  .left-side .left-side-first-frame__link img {
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 1365px) {
  .left-side .left-side-first-frame__link img {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 910px) {
  .left-side .left-side-first-frame__link img {
    width: 15px;
    height: 15px;
  }
}
@media (max-width: 767px) {
  .left-side .left-side-first-frame__link img {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 480px) {
  .left-side .left-side-first-frame__link img {
    width: 28px;
    height: 28px;
  }
}
.left-side .left-side-first-frame__link a {
  transition: all 0.25s ease-in-out;
}
.left-side .left-side-first-frame__link a:not(:last-child) {
  margin-right: 10px;
}
.left-side .left-side-first-frame__link a:hover {
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out;
}
.left-side .left-side-first-frame__dbird p:first-child {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: none;
  color: #fff;
  font-weight: 700;
  padding: 5px 30px;
  margin-bottom: 15px;
  background-color: rgba(0, 54, 88, 0.6);
}
@media (min-width: 2250px) {
  .left-side .left-side-first-frame__dbird p:first-child {
    font-size: 22px;
    line-height: 19px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
    padding: 7px 30px;
  }
}
@media (min-width: 2500px) {
  .left-side .left-side-first-frame__dbird p:first-child {
    font-size: 26px;
    line-height: 23px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
    padding: 9px 30px;
  }
}
@media (min-width: 3000px) {
  .left-side .left-side-first-frame__dbird p:first-child {
    font-size: 30px;
    line-height: 27px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
    padding: 11px 30px;
  }
}
.left-side .left-side-first-frame__dbird p:last-child {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: none;
  color: #fff;
  font-weight: 400;
  margin-bottom: 15px;
  padding-left: 30px;
}
@media (min-width: 2250px) {
  .left-side .left-side-first-frame__dbird p:last-child {
    font-size: 17px;
    line-height: 19px;
    letter-spacing: none;
    color: #fff;
    font-weight: 400;
  }
}
@media (min-width: 2500px) {
  .left-side .left-side-first-frame__dbird p:last-child {
    font-size: 21px;
    line-height: 23px;
    letter-spacing: none;
    color: #fff;
    font-weight: 400;
  }
}
@media (min-width: 3000px) {
  .left-side .left-side-first-frame__dbird p:last-child {
    font-size: 25px;
    line-height: 27px;
    letter-spacing: none;
    color: #fff;
    font-weight: 400;
  }
}
.left-side .left-side-first-frame__line {
  width: 98%;
  margin: 0 auto 15px auto;
  height: 5px;
  background-color: #003658;
}
@media (min-width: 2250px) {
  .left-side .left-side-first-frame__line {
    height: 7px;
  }
}
@media (min-width: 2500px) {
  .left-side .left-side-first-frame__line {
    height: 9px;
  }
}
@media (min-width: 3000px) {
  .left-side .left-side-first-frame__line {
    height: 11px;
  }
}
.left-side .left-side-second-frame__soft-skills {
  padding-left: 30px;
}
.left-side .left-side-second-frame__title {
  display: flex;
  flex-direction: none;
  justify-content: none;
  align-items: center;
  margin-bottom: 15px;
}
.left-side .left-side-second-frame__title p {
  font-size: 17px;
  line-height: 21px;
  letter-spacing: none;
  color: #fff;
  font-weight: 700;
  padding: 0 15px;
}
@media (min-width: 2250px) {
  .left-side .left-side-second-frame__title p {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
  }
}
@media (min-width: 2500px) {
  .left-side .left-side-second-frame__title p {
    font-size: 25px;
    line-height: 29px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
  }
}
@media (min-width: 3000px) {
  .left-side .left-side-second-frame__title p {
    font-size: 29px;
    line-height: 33px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
  }
}
.left-side .left-side-second-frame__title::before {
  content: "";
  background-image: url("../img/ls-second_frame/02.png");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  display: inline-block;
}
.left-side .left-side-second-frame__list {
  font-size: 15px;
  line-height: 19px;
  letter-spacing: none;
  color: #fff;
  font-weight: none;
  margin: 0 0 15px 20px;
}
@media (min-width: 2250px) {
  .left-side .left-side-second-frame__list {
    font-size: 19px;
    line-height: 24px;
    letter-spacing: none;
    color: #fff;
    font-weight: none;
  }
}
@media (min-width: 2500px) {
  .left-side .left-side-second-frame__list {
    font-size: 23px;
    line-height: 28px;
    letter-spacing: none;
    color: #fff;
    font-weight: none;
  }
}
@media (min-width: 3000px) {
  .left-side .left-side-second-frame__list {
    font-size: 27px;
    line-height: 32px;
    letter-spacing: none;
    color: #fff;
    font-weight: none;
  }
}
.left-side .left-side-second-frame__list li {
  list-style: disc;
  padding-right: 15px;
}
.left-side .left-side-second-frame__list li:not(:last-child) {
  margin-bottom: 5px;
}
.left-side .left-side-second-frame__line {
  width: 98%;
  margin: 0 auto 15px auto;
  height: 5px;
  background-color: #003658;
}
@media (min-width: 2250px) {
  .left-side .left-side-second-frame__line {
    height: 7px;
  }
}
@media (min-width: 2500px) {
  .left-side .left-side-second-frame__line {
    height: 9px;
  }
}
@media (min-width: 3000px) {
  .left-side .left-side-second-frame__line {
    height: 11px;
  }
}
.left-side .left-side-second-frame__hard-skills {
  padding-left: 30px;
}
.left-side .left-side-second-frame__title {
  display: flex;
  flex-direction: none;
  justify-content: none;
  align-items: center;
  margin-bottom: 15px;
}
.left-side .left-side-second-frame__title p {
  font-size: 17px;
  line-height: 21px;
  letter-spacing: none;
  color: #fff;
  font-weight: 700;
  padding: 0 15px;
}
@media (min-width: 2250px) {
  .left-side .left-side-second-frame__title p {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
  }
}
@media (min-width: 2500px) {
  .left-side .left-side-second-frame__title p {
    font-size: 25px;
    line-height: 29px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
  }
}
@media (min-width: 3000px) {
  .left-side .left-side-second-frame__title p {
    font-size: 29px;
    line-height: 33px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
  }
}
.left-side .left-side-second-frame__title::before {
  content: "";
  background-image: url("../img/ls-second_frame/01.png");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  display: inline-block;
}
.left-side .left-side-second-frame__list {
  font-size: 15px;
  line-height: 19px;
  letter-spacing: none;
  color: #fff;
  font-weight: none;
  margin-left: 20px;
}
@media (min-width: 2250px) {
  .left-side .left-side-second-frame__list {
    font-size: 19px;
    line-height: 24px;
    letter-spacing: none;
    color: #fff;
    font-weight: none;
  }
}
@media (min-width: 2500px) {
  .left-side .left-side-second-frame__list {
    font-size: 23px;
    line-height: 28px;
    letter-spacing: none;
    color: #fff;
    font-weight: none;
  }
}
@media (min-width: 3000px) {
  .left-side .left-side-second-frame__list {
    font-size: 27px;
    line-height: 32px;
    letter-spacing: none;
    color: #fff;
    font-weight: none;
  }
}
.left-side .left-side-second-frame__list li {
  list-style: disc;
  padding-right: 15px;
}
.left-side .left-side-second-frame__list li:not(:last-child) {
  margin-bottom: 5px;
}
.left-side .left-side-second-frame__list li:last-child {
  margin-bottom: 10px;
}

.right-side {
  width: 100%;
}
.right-side .right-side-first-frame {
  margin: 30px 0 15px 0px;
  padding: 0 30px;
}
.right-side .right-side-first-frame__title {
  margin-bottom: 10px;
}
.right-side .right-side-first-frame__line {
  margin-bottom: 15px;
}
.right-side .right-side-first-frame__subtitle {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: none;
  color: none;
  font-weight: none;
  margin-bottom: 30px;
}
@media (min-width: 2250px) {
  .right-side .right-side-first-frame__subtitle {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}
@media (min-width: 2500px) {
  .right-side .right-side-first-frame__subtitle {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}
@media (min-width: 2500px) {
  .right-side .right-side-first-frame__subtitle {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}
.right-side .right-side-second-frame {
  margin-bottom: 15px;
  padding: 0 30px;
}
.right-side .right-side-second-frame__title {
  margin-bottom: 10px;
}
.right-side .right-side-second-frame__line {
  margin-bottom: 15px;
}
.right-side .right-side-second-frame__last-ed {
  margin-bottom: 15px;
}
.right-side .right-side-second-frame__years, .right-side .right-side-second-frame__names {
  margin-bottom: 5px;
}
.right-side .right-side-second-frame__years, .right-side .right-side-second-frame__names, .right-side .right-side-second-frame__direction {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: none;
  color: none;
  font-weight: none;
}
@media (min-width: 2250px) {
  .right-side .right-side-second-frame__years, .right-side .right-side-second-frame__names, .right-side .right-side-second-frame__direction {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}
@media (min-width: 2500px) {
  .right-side .right-side-second-frame__years, .right-side .right-side-second-frame__names, .right-side .right-side-second-frame__direction {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}
@media (min-width: 3000px) {
  .right-side .right-side-second-frame__years, .right-side .right-side-second-frame__names, .right-side .right-side-second-frame__direction {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}
.right-side .right-side-threeth-frame {
  margin-top: 30px;
  padding: 0 30px;
}
.right-side .right-side-threeth-frame__last-ex:not(:last-child) {
  margin-bottom: 20px;
}
.right-side .right-side-threeth-frame__title {
  margin-bottom: 10px;
}
.right-side .right-side-threeth-frame__line {
  margin-bottom: 15px;
}
.right-side .right-side-threeth-frame__years, .right-side .right-side-threeth-frame__company, .right-side .right-side-threeth-frame__position {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: none;
  color: none;
  font-weight: none;
}
@media (min-width: 2250px) {
  .right-side .right-side-threeth-frame__years, .right-side .right-side-threeth-frame__company, .right-side .right-side-threeth-frame__position {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}
@media (min-width: 2500px) {
  .right-side .right-side-threeth-frame__years, .right-side .right-side-threeth-frame__company, .right-side .right-side-threeth-frame__position {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}
@media (min-width: 3000px) {
  .right-side .right-side-threeth-frame__years, .right-side .right-side-threeth-frame__company, .right-side .right-side-threeth-frame__position {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}
.right-side .right-side-threeth-frame__years, .right-side .right-side-threeth-frame__company {
  margin-bottom: 5px;
}
.right-side .right-side-fourth-frame {
  margin-top: 30px;
  padding: 0 30px;
}
.right-side .right-side-fourth-frame__title {
  margin-bottom: 10px;
}
.right-side .right-side-fourth-frame__line {
  margin-bottom: 15px;
}
.right-side .right-side-fourth-frame__examples {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.right-side .right-side-fourth-frame__examples div {
  text-align: center;
  padding: 0 50px;
}
.right-side .right-side-fourth-frame__examples p {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: none;
  color: none;
  font-weight: 700;
  margin-bottom: 10px;
}
@media (min-width: 2250px) {
  .right-side .right-side-fourth-frame__examples p {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: none;
    color: none;
    font-weight: 700;
  }
}
@media (min-width: 2500px) {
  .right-side .right-side-fourth-frame__examples p {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: none;
    color: none;
    font-weight: 700;
  }
}
@media (min-width: 3000px) {
  .right-side .right-side-fourth-frame__examples p {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: none;
    color: none;
    font-weight: 700;
  }
}
.right-side .right-side-fourth-frame__examples img {
  display: inline-block;
  box-shadow: 0 0 10px #003658;
  border-radius: 30px;
  margin-bottom: 30px;
  width: 70%;
  filter: grayscale(0.7);
  transition: all 0.25s ease-in-out;
}
@media (max-width: 768px) {
  .right-side .right-side-fourth-frame__examples img {
    width: 100%;
  }
}
.right-side .right-side-fourth-frame__examples img:hover {
  filter: grayscale(0);
  transform: scale(1.03);
  transition: all 0.4s ease-in-out;
}
.right-side .line {
  width: 200px;
  height: 3px;
  background-color: #003658;
}
@media (min-width: 2250px) {
  .right-side .line {
    width: 300px;
    height: 4px;
  }
}
@media (min-width: 2500px) {
  .right-side .line {
    width: 340px;
    height: 6px;
  }
}
@media (min-width: 3000px) {
  .right-side .line {
    width: 380px;
    height: 8px;
  }
}
.right-side .title {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: none;
  font-weight: 700;
}
@media (min-width: 2250px) {
  .right-side .title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2em;
    color: none;
    font-weight: 700;
  }
}
@media (min-width: 2500px) {
  .right-side .title {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.25em;
    color: none;
    font-weight: 700;
  }
}
@media (min-width: 3000px) {
  .right-side .title {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.3em;
    color: none;
    font-weight: 700;
  }
}