* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Montserrat', sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  overflow-x: hidden;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

@media (max-width: 767px) {
  .main-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: none;
        -ms-flex-pack: none;
            justify-content: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.left-side {
  min-height: 100vh;
  background-color: #094e6f;
}

@media (max-width: 767px) {
  .left-side {
    width: 100%;
  }
}

.left-side__first-frame .foto img {
  display: block;
  margin: 15px auto;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 4mm groove rgba(0, 54, 88, 0.6);
}

@media (min-width: 2250px) {
  .left-side__first-frame .foto img {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 2500px) {
  .left-side__first-frame .foto img {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 3000px) {
  .left-side__first-frame .foto img {
    width: 350px;
    height: 350px;
  }
}

@media (max-width: 767px) {
  .left-side__first-frame .foto img {
    width: 300px;
    height: 300px;
  }
}

@media (max-width: 480px) {
  .left-side__first-frame .foto img {
    width: 250px;
    height: 250px;
  }
}

.left-side__first-frame .name {
  margin-bottom: 15px;
}

.left-side__first-frame .name p {
  font-size: 18px;
  line-height: 30px;
  letter-spacing: none;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

@media (min-width: 2250px) {
  .left-side__first-frame .name p {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
  }
}

@media (min-width: 2500px) {
  .left-side__first-frame .name p {
    font-size: 26px;
    line-height: 38px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
  }
}

@media (min-width: 3000px) {
  .left-side__first-frame .name p {
    font-size: 30px;
    line-height: 42px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
  }
}

.left-side__first-frame .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.left-side__first-frame .contact p {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: none;
  color: #fff;
  font-weight: 700;
  padding: 5px 30px;
  margin-bottom: 10px;
  background-color: #00365899;
}

@media (min-width: 2250px) {
  .left-side__first-frame .contact p {
    font-size: 22px;
    line-height: 34px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
    padding: 7px 30px;
    margin-bottom: 12px;
  }
}

@media (min-width: 2500px) {
  .left-side__first-frame .contact p {
    font-size: 26px;
    line-height: 38px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
    padding: 9px 30px;
    margin-bottom: 14px;
  }
}

@media (min-width: 3000px) {
  .left-side__first-frame .contact p {
    font-size: 30px;
    line-height: 42px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
    padding: 11px 30px;
    margin-bottom: 16px;
  }
}

.left-side__first-frame .contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
  padding: 0 30px;
}

.left-side__first-frame .contact__link img {
  border: 0px solid #000;
  width: 35px;
  height: 35px;
  border-radius: 0%;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

@media (min-width: 2250px) {
  .left-side__first-frame .contact__link img {
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 2500px) {
  .left-side__first-frame .contact__link img {
    width: 65px;
    height: 65px;
  }
}

@media (min-width: 3000px) {
  .left-side__first-frame .contact__link img {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 1365px) {
  .left-side__first-frame .contact__link img {
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 910px) {
  .left-side__first-frame .contact__link img {
    width: 15px;
    height: 15px;
  }
}

@media (max-width: 767px) {
  .left-side__first-frame .contact__link img {
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 480px) {
  .left-side__first-frame .contact__link img {
    width: 28px;
    height: 28px;
  }
}

.left-side__first-frame .contact__link a {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.left-side__first-frame .contact__link a:not(:last-child) {
  margin-right: 10px;
}

.left-side__first-frame .contact__link a:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.left-side__first-frame .dbird p:first-child {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: none;
  color: #fff;
  font-weight: 700;
  padding: 5px 30px;
  margin-bottom: 15px;
  background-color: #00365899;
}

@media (min-width: 2250px) {
  .left-side__first-frame .dbird p:first-child {
    font-size: 22px;
    line-height: 19px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
    padding: 7px 30px;
  }
}

@media (min-width: 2500px) {
  .left-side__first-frame .dbird p:first-child {
    font-size: 26px;
    line-height: 23px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
    padding: 9px 30px;
  }
}

@media (min-width: 3000px) {
  .left-side__first-frame .dbird p:first-child {
    font-size: 30px;
    line-height: 27px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
    padding: 11px 30px;
  }
}

.left-side__first-frame .dbird p:last-child {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: none;
  color: #fff;
  font-weight: 400;
  margin-bottom: 15px;
  padding-left: 30px;
}

@media (min-width: 2250px) {
  .left-side__first-frame .dbird p:last-child {
    font-size: 17px;
    line-height: 19px;
    letter-spacing: none;
    color: #fff;
    font-weight: 400;
  }
}

@media (min-width: 2500px) {
  .left-side__first-frame .dbird p:last-child {
    font-size: 21px;
    line-height: 23px;
    letter-spacing: none;
    color: #fff;
    font-weight: 400;
  }
}

@media (min-width: 3000px) {
  .left-side__first-frame .dbird p:last-child {
    font-size: 25px;
    line-height: 27px;
    letter-spacing: none;
    color: #fff;
    font-weight: 400;
  }
}

.left-side__first-frame .line {
  width: 98%;
  margin: 0 auto 15px auto;
  height: 5px;
  background-color: #003658;
}

@media (min-width: 2250px) {
  .left-side__first-frame .line {
    height: 7px;
  }
}

@media (min-width: 2500px) {
  .left-side__first-frame .line {
    height: 9px;
  }
}

@media (min-width: 3000px) {
  .left-side__first-frame .line {
    height: 11px;
  }
}

.left-side__second-frame .soft-skills {
  padding-left: 30px;
}

.left-side__second-frame .soft-skills__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.left-side__second-frame .soft-skills__title p {
  font-size: 17px;
  line-height: 21px;
  letter-spacing: none;
  color: #fff;
  font-weight: 700;
  padding: 0 15px;
}

@media (min-width: 2250px) {
  .left-side__second-frame .soft-skills__title p {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
  }
}

@media (min-width: 2500px) {
  .left-side__second-frame .soft-skills__title p {
    font-size: 25px;
    line-height: 29px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
  }
}

@media (min-width: 3000px) {
  .left-side__second-frame .soft-skills__title p {
    font-size: 29px;
    line-height: 33px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
  }
}

.left-side__second-frame .soft-skills__title::before {
  content: '';
  background-image: url("../img/ls-second_frame/02.png");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  display: inline-block;
}

.left-side__second-frame .soft-skills__list {
  font-size: 15px;
  line-height: 19px;
  letter-spacing: none;
  color: #fff;
  font-weight: none;
  margin: 0 0 15px 20px;
}

@media (min-width: 2250px) {
  .left-side__second-frame .soft-skills__list {
    font-size: 19px;
    line-height: 24px;
    letter-spacing: none;
    color: #fff;
    font-weight: none;
  }
}

@media (min-width: 2500px) {
  .left-side__second-frame .soft-skills__list {
    font-size: 23px;
    line-height: 28px;
    letter-spacing: none;
    color: #fff;
    font-weight: none;
  }
}

@media (min-width: 3000px) {
  .left-side__second-frame .soft-skills__list {
    font-size: 27px;
    line-height: 32px;
    letter-spacing: none;
    color: #fff;
    font-weight: none;
  }
}

.left-side__second-frame .soft-skills__list li {
  list-style: disc;
  padding-right: 15px;
}

.left-side__second-frame .soft-skills__list li:not(:last-child) {
  margin-bottom: 5px;
}

.left-side__second-frame .line {
  width: 98%;
  margin: 0 auto 15px auto;
  height: 5px;
  background-color: #003658;
}

@media (min-width: 2250px) {
  .left-side__second-frame .line {
    height: 7px;
  }
}

@media (min-width: 2500px) {
  .left-side__second-frame .line {
    height: 9px;
  }
}

@media (min-width: 3000px) {
  .left-side__second-frame .line {
    height: 11px;
  }
}

.left-side__second-frame .hard-skills {
  padding-left: 30px;
}

.left-side__second-frame .hard-skills__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.left-side__second-frame .hard-skills__title p {
  font-size: 17px;
  line-height: 21px;
  letter-spacing: none;
  color: #fff;
  font-weight: 700;
  padding: 0 15px;
}

@media (min-width: 2250px) {
  .left-side__second-frame .hard-skills__title p {
    font-size: 21px;
    line-height: 25px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
  }
}

@media (min-width: 2500px) {
  .left-side__second-frame .hard-skills__title p {
    font-size: 25px;
    line-height: 29px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
  }
}

@media (min-width: 3000px) {
  .left-side__second-frame .hard-skills__title p {
    font-size: 29px;
    line-height: 33px;
    letter-spacing: none;
    color: #fff;
    font-weight: 700;
  }
}

.left-side__second-frame .hard-skills__title::before {
  content: '';
  background-image: url("../img/ls-second_frame/01.png");
  background-repeat: no-repeat;
  width: 35px;
  height: 35px;
  display: inline-block;
}

.left-side__second-frame .hard-skills__list {
  font-size: 15px;
  line-height: 19px;
  letter-spacing: none;
  color: #fff;
  font-weight: none;
  margin-left: 20px;
}

@media (min-width: 2250px) {
  .left-side__second-frame .hard-skills__list {
    font-size: 19px;
    line-height: 24px;
    letter-spacing: none;
    color: #fff;
    font-weight: none;
  }
}

@media (min-width: 2500px) {
  .left-side__second-frame .hard-skills__list {
    font-size: 23px;
    line-height: 28px;
    letter-spacing: none;
    color: #fff;
    font-weight: none;
  }
}

@media (min-width: 3000px) {
  .left-side__second-frame .hard-skills__list {
    font-size: 27px;
    line-height: 32px;
    letter-spacing: none;
    color: #fff;
    font-weight: none;
  }
}

.left-side__second-frame .hard-skills__list li {
  list-style: disc;
  padding-right: 15px;
}

.left-side__second-frame .hard-skills__list li:not(:last-child) {
  margin-bottom: 5px;
}

.left-side__second-frame .hard-skills__list li:last-child {
  margin-bottom: 10px;
}

.right-side {
  width: 100%;
}

.right-side__first-frame {
  margin: 30px 0 15px 0px;
  padding: 0 30px;
}

.right-side__first-frame .title {
  margin-bottom: 10px;
}

.right-side__first-frame .line {
  margin-bottom: 15px;
}

.right-side__first-frame .subtitle {
  font-size: 18px;
  line-height: 22px;
  letter-spacing: none;
  color: none;
  font-weight: none;
  margin-bottom: 30px;
}

@media (min-width: 2250px) {
  .right-side__first-frame .subtitle {
    font-size: 22px;
    line-height: 26px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 2500px) {
  .right-side__first-frame .subtitle {
    font-size: 26px;
    line-height: 30px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 2500px) {
  .right-side__first-frame .subtitle {
    font-size: 30px;
    line-height: 34px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

.right-side__second-frame {
  margin-bottom: 15px;
  padding: 0 30px;
}

.right-side__second-frame .title {
  margin-bottom: 10px;
}

.right-side__second-frame .line {
  margin-bottom: 15px;
}

.right-side__second-frame .last-ed {
  margin-bottom: 15px;
}

.right-side__second-frame .last-ed__years, .right-side__second-frame .last-ed__names,
.right-side__second-frame .first-ed__years,
.right-side__second-frame .first-ed__names {
  margin-bottom: 5px;
}

.right-side__second-frame .last-ed__years, .right-side__second-frame .last-ed__names, .right-side__second-frame .last-ed__direction,
.right-side__second-frame .first-ed__years,
.right-side__second-frame .first-ed__names,
.right-side__second-frame .first-ed__direction {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: none;
  color: none;
  font-weight: none;
}

@media (min-width: 2250px) {
  .right-side__second-frame .last-ed__years, .right-side__second-frame .last-ed__names, .right-side__second-frame .last-ed__direction,
  .right-side__second-frame .first-ed__years,
  .right-side__second-frame .first-ed__names,
  .right-side__second-frame .first-ed__direction {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 2500px) {
  .right-side__second-frame .last-ed__years, .right-side__second-frame .last-ed__names, .right-side__second-frame .last-ed__direction,
  .right-side__second-frame .first-ed__years,
  .right-side__second-frame .first-ed__names,
  .right-side__second-frame .first-ed__direction {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 3000px) {
  .right-side__second-frame .last-ed__years, .right-side__second-frame .last-ed__names, .right-side__second-frame .last-ed__direction,
  .right-side__second-frame .first-ed__years,
  .right-side__second-frame .first-ed__names,
  .right-side__second-frame .first-ed__direction {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

.right-side__threeth-frame {
  margin-top: 30px;
  padding: 0 30px;
}

.right-side__threeth-frame .title {
  margin-bottom: 10px;
}

.right-side__threeth-frame .line {
  margin-bottom: 15px;
}

.right-side__threeth-frame .last-ex__years, .right-side__threeth-frame .last-ex__company, .right-side__threeth-frame .last-ex__position {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: none;
  color: none;
  font-weight: none;
}

@media (min-width: 2250px) {
  .right-side__threeth-frame .last-ex__years, .right-side__threeth-frame .last-ex__company, .right-side__threeth-frame .last-ex__position {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 2500px) {
  .right-side__threeth-frame .last-ex__years, .right-side__threeth-frame .last-ex__company, .right-side__threeth-frame .last-ex__position {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

@media (min-width: 3000px) {
  .right-side__threeth-frame .last-ex__years, .right-side__threeth-frame .last-ex__company, .right-side__threeth-frame .last-ex__position {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: none;
    color: none;
    font-weight: none;
  }
}

.right-side__threeth-frame .last-ex__years, .right-side__threeth-frame .last-ex__company {
  margin-bottom: 5px;
}

.right-side__fourth-frame {
  margin-top: 30px;
  padding: 0 30px;
}

.right-side__fourth-frame .title {
  margin-bottom: 10px;
}

.right-side__fourth-frame .line {
  margin-bottom: 15px;
}

.right-side__fourth-frame .examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1650px) {
  .right-side__fourth-frame .examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.right-side__fourth-frame .examples div {
  text-align: center;
  padding: 0 20px;
}

.right-side__fourth-frame .examples p {
  font-size: 16px;
  line-height: 20px;
  letter-spacing: none;
  color: none;
  font-weight: 700;
  margin-bottom: 10px;
}

@media (min-width: 2250px) {
  .right-side__fourth-frame .examples p {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: none;
    color: none;
    font-weight: 700;
  }
}

@media (min-width: 2500px) {
  .right-side__fourth-frame .examples p {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: none;
    color: none;
    font-weight: 700;
  }
}

@media (min-width: 3000px) {
  .right-side__fourth-frame .examples p {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: none;
    color: none;
    font-weight: 700;
  }
}

.right-side__fourth-frame .examples img {
  display: block;
  border: 1px solid #094e6f;
  border-radius: 10% 5% 35% 5%;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

@media (min-width: 2250px) {
  .right-side__fourth-frame .examples img {
    width: 400px;
    height: 260px;
  }
}

@media (min-width: 2500px) {
  .right-side__fourth-frame .examples img {
    width: 430px;
    height: 290px;
  }
}

@media (min-width: 3000px) {
  .right-side__fourth-frame .examples img {
    width: 460px;
    height: 320px;
  }
}

@media (max-width: 1650px) {
  .right-side__fourth-frame .examples img {
    width: 380px;
    height: 240px;
  }
}

@media (max-width: 480px) {
  .right-side__fourth-frame .examples img {
    width: 260px;
    height: 150px;
    margin-bottom: 30px;
  }
}

.right-side__fourth-frame .examples img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.05, 1.05);
          transform: scale(1.05, 1.05);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: -3px 3px 5px #003658;
          box-shadow: -3px 3px 5px #003658;
  border-radius: 5%;
}

.right-side__fourth-frame .examples img:active {
  position: relative;
  -webkit-box-shadow: initial;
          box-shadow: initial;
  top: 3px;
  left: -3px;
  -webkit-transition: initial;
  transition: initial;
}

.right-side .line {
  width: 200px;
  height: 3px;
  background-color: #003658;
}

@media (min-width: 2250px) {
  .right-side .line {
    width: 300px;
    height: 4px;
  }
}

@media (min-width: 2500px) {
  .right-side .line {
    width: 340px;
    height: 6px;
  }
}

@media (min-width: 3000px) {
  .right-side .line {
    width: 380px;
    height: 8px;
  }
}

.right-side .title {
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: none;
  font-weight: 700;
}

@media (min-width: 2250px) {
  .right-side .title {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.2em;
    color: none;
    font-weight: 700;
  }
}

@media (min-width: 2500px) {
  .right-side .title {
    font-size: 28px;
    line-height: 32px;
    letter-spacing: 0.25em;
    color: none;
    font-weight: 700;
  }
}

@media (min-width: 3000px) {
  .right-side .title {
    font-size: 32px;
    line-height: 36px;
    letter-spacing: 0.3em;
    color: none;
    font-weight: 700;
  }
}
