* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: 'Montserrat', sans-serif;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  overflow-x: hidden;
}

.wrapper {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: none;
      -ms-flex-align: none;
          align-items: none;
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.container {
  min-width: 100%;
}

.main-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.left-side {
  width: 30vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #094e6f;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.left-side__first-frame .foto img {
  display: block;
  margin: 15px auto;
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 4mm ridge rgba(0, 54, 88, 0.6);
}

.left-side__first-frame .name {
  margin-bottom: 15px;
}

.left-side__first-frame .name p {
  font-size: 30px;
  line-height: 42px;
  letter-spacing: none;
  color: #fff;
  font-weight: 700;
  text-align: center;
}

.left-side__first-frame .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

.left-side__first-frame .contact p {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: none;
  color: #fff;
  font-weight: 700;
  margin-left: 30px;
  margin-bottom: 15px;
}

.left-side__first-frame .contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  margin-left: 30px;
}

.left-side__first-frame .contact__link img {
  border: 0px solid #000;
  width: 35px;
  height: 35px;
  border-radius: 0%;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.left-side__first-frame .contact__link a {
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}

.left-side__first-frame .contact__link a:not(:last-child) {
  margin-right: 5px;
}

.left-side__first-frame .contact__link a:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.left-side__first-frame .dbird {
  margin-left: 30px;
}

.left-side__first-frame .dbird p:first-child {
  font-size: 15px;
  line-height: 15px;
  letter-spacing: none;
  color: #fff;
  font-weight: 700;
  margin-bottom: 15px;
}

.left-side__first-frame .dbird p:last-child {
  font-size: 13px;
  line-height: 15px;
  letter-spacing: none;
  color: #fff;
  font-weight: 400;
  margin-bottom: 15px;
}

.left-side__first-frame .line {
  width: 98%;
  margin: 0 auto 15px auto;
  height: 5px;
  background-color: #003658;
}

.left-side__second-frame .soft-skills {
  padding-left: 30px;
}

.left-side__second-frame .soft-skills__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.left-side__second-frame .soft-skills__title p {
  font-size: 25px;
  line-height: 29px;
  letter-spacing: none;
  color: #fff;
  font-weight: 700;
  padding-left: 15px;
}

.left-side__second-frame .soft-skills__title::before {
  content: '';
  background-image: url("../img/second_frame/02.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.left-side__second-frame .soft-skills__list {
  font-size: 17px;
  line-height: 21px;
  letter-spacing: none;
  color: #fff;
  font-weight: none;
  margin-bottom: 15px;
}

.left-side__second-frame .soft-skills__list p:not(:last-child) {
  margin-bottom: 5px;
}

.left-side__second-frame .line {
  width: 98%;
  margin: 0 auto 15px auto;
  height: 5px;
  background-color: #003658;
}

.left-side__second-frame .hard-skills {
  padding-left: 30px;
}

.left-side__second-frame .hard-skills__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: none;
          flex-direction: none;
  -webkit-box-pack: none;
      -ms-flex-pack: none;
          justify-content: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.left-side__second-frame .hard-skills__title p {
  font-size: 25px;
  line-height: 29px;
  letter-spacing: none;
  color: #fff;
  font-weight: 700;
  padding-left: 15px;
}

.left-side__second-frame .hard-skills__title::before {
  content: '';
  background-image: url("../img/second_frame/01.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
}

.left-side__second-frame .hard-skills__list {
  font-size: 17px;
  line-height: 21px;
  letter-spacing: none;
  color: #fff;
  font-weight: none;
}

.left-side__second-frame .hard-skills__list p:not(:last-child) {
  margin-bottom: 5px;
}

.right-side {
  width: 70vw;
  border: 1px solid #000;
}
