//подключение шрифтов

//нулевой стиль
@import "nulestyle.scss";
//файл с миксинами
@import "mixin.scss";
////////////////////////////////////////
body {
  overflow-x: hidden;
}
// wrapper
.wrapper {
  min-height: 100%;
  @include flex(flex, column, none, none);
}
// header
.content {
  flex: 1 1 auto;
}

.main-page {
  @include flex(flex, row, center, none);
  // media query for small resolutions
  @media (max-width: 767px) {
    @include flex(flex, column, none, flex-start);
  }
}

.left-side {
  min-height: 100vh;
  background-color: #094e6f;
  // media query for small resolutions
  @media (max-width: 767px) {
    width: 100%;
    min-height: auto;
  }
  .left-side-first-frame {
    &__foto {
      img {
        display: block;
        margin: 15px auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        box-shadow: 0 0 15px aliceblue;
        // media query for large resolutions
        @media (min-width: 2250px) {
          width: 250px;
          height: 250px;
        }
        @media (min-width: 2500px) {
          width: 300px;
          height: 300px;
        }
        @media (min-width: 3000px) {
          width: 350px;
          height: 350px;
        }
        // media query for small resolutions
        @media (max-width: 767px) {
          width: 300px;
          height: 300px;
        }
        @media (max-width: 480px) {
          width: 250px;
          height: 250px;
        }
      }
    }
    &__name {
      p {
        @include font(18px, 30px, none, #fff, 700);
        text-align: center;
        // media query for large resolutions
        @media (min-width: 2250px) {
          @include font(22px, 34px, none, #fff, 700);
        }
        @media (min-width: 2500px) {
          @include font(26px, 38px, none, #fff, 700);
        }
        @media (min-width: 3000px) {
          @include font(30px, 42px, none, #fff, 700);
        }
      }
      margin-bottom: 15px;
    }
    &__contact {
      @include flex(flex, column, center, left);
      p {
        @include font(15px, 15px, none, #fff, 700);
        padding: 5px 30px;
        margin-bottom: 10px;
        background-color: #00365899;
        // media query for large resolutions
        @media (min-width: 2250px) {
          @include font(22px, 34px, none, #fff, 700);
          padding: 7px 30px;
          margin-bottom: 12px;
        }
        @media (min-width: 2500px) {
          @include font(26px, 38px, none, #fff, 700);
          padding: 9px 30px;
          margin-bottom: 14px;
        }
        @media (min-width: 3000px) {
          @include font(30px, 42px, none, #fff, 700);
          padding: 11px 30px;
          margin-bottom: 16px;
        }
      }
    }
    &__link {
      @include flex(flex, row, center, center);
      margin-bottom: 15px;
      padding: 0 30px;
      img {
        border: 0px solid #000;
        width: 35px;
        height: 35px;
        // media query for large resolutions
        @media (min-width: 2250px) {
          width: 50px;
          height: 50px;
        }
        @media (min-width: 2500px) {
          width: 65px;
          height: 65px;
        }
        @media (min-width: 3000px) {
          width: 80px;
          height: 80px;
        }
        // media query for small resolutions
        @media (max-width: 1365px) {
          width: 20px;
          height: 20px;
        }
        @media (max-width: 910px) {
          width: 15px;
          height: 15px;
        }
        @media (max-width: 767px) {
          width: 35px;
          height: 35px;
        }
        @media (max-width: 480px) {
          width: 28px;
          height: 28px;
        }
        border-radius: 0%;
        margin-top: 0;
        margin-bottom: 0;
        filter: brightness(0) invert(1);
      }
      a {
        transition: all 0.25s ease-in-out;
        &:not(:last-child) {
          margin-right: 10px;
        }
        &:hover {
          transform: rotate(360deg);
          transition: all 0.5s ease-in-out;
        }
      }
    }
    &__dbird {
      p {
        &:first-child {
          @include font(15px, 15px, none, #fff, 700);
          padding: 5px 30px;
          margin-bottom: 15px;
          background-color: #00365899;
          // media query for large resolutions
          @media (min-width: 2250px) {
            @include font(22px, 19px, none, #fff, 700);
            padding: 7px 30px;
          }
          @media (min-width: 2500px) {
            @include font(26px, 23px, none, #fff, 700);
            padding: 9px 30px;
          }
          @media (min-width: 3000px) {
            @include font(30px, 27px, none, #fff, 700);
            padding: 11px 30px;
          }
        }
        &:last-child {
          @include font(13px, 15px, none, #fff, 400);
          margin-bottom: 15px;
          padding-left: 30px;
          // media query for large resolutions
          @media (min-width: 2250px) {
            @include font(17px, 19px, none, #fff, 400);
          }
          @media (min-width: 2500px) {
            @include font(21px, 23px, none, #fff, 400);
          }
          @media (min-width: 3000px) {
            @include font(25px, 27px, none, #fff, 400);
          }
        }
      }
    }
    &__line {
      width: 98%;
      margin: 0 auto 15px auto;
      height: 5px;
      background-color: #003658;
      // media query for large resolutions
      @media (min-width: 2250px) {
        height: 7px;
      }
      @media (min-width: 2500px) {
        height: 9px;
      }
      @media (min-width: 3000px) {
        height: 11px;
      }
    }
  }

  .left-side-second-frame {
    &__soft-skills {
      padding-left: 30px;
    }
    &__title-soft {
      @include flex(flex, none, none, center);
      p {
        @include font(17px, 21px, none, #fff, 700);
        padding: 0 15px;
        // media query for large resolutions
        @media (min-width: 2250px) {
          @include font(21px, 25px, none, #fff, 700);
        }
        @media (min-width: 2500px) {
          @include font(25px, 29px, none, #fff, 700);
        }
        @media (min-width: 3000px) {
          @include font(29px, 33px, none, #fff, 700);
        }
      }
      margin-bottom: 15px;
      &::before {
        content: "";
        background-image: url("../img/ls-second_frame/02.png");
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
        display: inline-block;
      }
    }
    &__list {
      // media query for large resolutions
      @include font(15px, 19px, none, #fff, none);
      @media (min-width: 2250px) {
        @include font(19px, 24px, none, #fff, none);
      }
      @media (min-width: 2500px) {
        @include font(23px, 28px, none, #fff, none);
      }
      @media (min-width: 3000px) {
        @include font(27px, 32px, none, #fff, none);
      }
      margin: 0 0 15px 20px;
      li {
        list-style: disc;
        padding-right: 15px;
        &:not(:last-child) {
          margin-bottom: 5px;
        }
      }
    }
    &__line {
      width: 98%;
      margin: 0 auto 15px auto;
      height: 5px;
      background-color: #003658;
      // media query for large resolutions
      @media (min-width: 2250px) {
        height: 7px;
      }
      @media (min-width: 2500px) {
        height: 9px;
      }
      @media (min-width: 3000px) {
        height: 11px;
      }
    }
    &__hard-skills {
      padding-left: 30px;
    }
    &__title-hard {
      @include flex(flex, none, none, center);
      p {
        @include font(17px, 21px, none, #fff, 700);
        padding: 0 15px;
        // media query for large resolutions
        @media (min-width: 2250px) {
          @include font(21px, 25px, none, #fff, 700);
        }
        @media (min-width: 2500px) {
          @include font(25px, 29px, none, #fff, 700);
        }
        @media (min-width: 3000px) {
          @include font(29px, 33px, none, #fff, 700);
        }
      }
      margin-bottom: 15px;
      &::before {
        content: "";
        background-image: url("../img/ls-second_frame/01.png");
        background-repeat: no-repeat;
        width: 35px;
        height: 35px;
        display: inline-block;
      }
    }
    &__list {
      @include font(15px, 19px, none, #fff, none);
      // media query for large resolutions
      @media (min-width: 2250px) {
        @include font(19px, 24px, none, #fff, none);
      }
      @media (min-width: 2500px) {
        @include font(23px, 28px, none, #fff, none);
      }
      @media (min-width: 3000px) {
        @include font(27px, 32px, none, #fff, none);
      }
      margin-left: 20px;
      li {
        list-style: disc;
        padding-right: 15px;
        &:not(:last-child) {
          margin-bottom: 5px;
        }
        &:last-child {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.right-side {
  width: 100%;
  .right-side-first-frame {
    margin: 30px 0 15px 0px;
    padding: 0 30px;
    &__title {
      margin-bottom: 10px;
    }
    &__line {
      margin-bottom: 15px;
    }
    &__subtitle {
      // media query for large resolutions
      @include font(18px, 22px, none, none, none);
      @media (min-width: 2250px) {
        @include font(22px, 26px, none, none, none);
      }
      @media (min-width: 2500px) {
        @include font(26px, 30px, none, none, none);
      }
      @media (min-width: 2500px) {
        @include font(30px, 34px, none, none, none);
      }
      margin-bottom: 30px;
    }
  }
  .right-side-second-frame {
    margin-bottom: 15px;
    padding: 0 30px;
    &__title {
      margin-bottom: 10px;
    }
    &__line {
      margin-bottom: 15px;
    }
    &__last-ed {
      margin-bottom: 15px;
    }
    &__years,
    &__names {
      margin-bottom: 5px;
    }
    &__years,
    &__names,
    &__direction {
      // media query for large resolutions
      @include font(16px, 20px, none, none, none);
      @media (min-width: 2250px) {
        @include font(20px, 24px, none, none, none);
      }
      @media (min-width: 2500px) {
        @include font(24px, 28px, none, none, none);
      }
      @media (min-width: 3000px) {
        @include font(28px, 32px, none, none, none);
      }
    }
  }

  .right-side-threeth-frame {
    margin-top: 30px;
    padding: 0 30px;
    &__last-ex:not(:last-child) {
      margin-bottom: 20px;
    }
    &__title {
      margin-bottom: 10px;
    }
    &__line {
      margin-bottom: 15px;
    }
    &__years,
    &__company,
    &__position {
      // media query for large resolutions
      @include font(16px, 20px, none, none, none);
      @media (min-width: 2250px) {
        @include font(20px, 24px, none, none, none);
      }
      @media (min-width: 2500px) {
        @include font(24px, 28px, none, none, none);
      }
      @media (min-width: 3000px) {
        @include font(28px, 32px, none, none, none);
      }
    }
    &__years,
    &__company {
      margin-bottom: 5px;
    }
  }

  .right-side-fourth-frame {
    margin-top: 30px;
    padding: 0 30px;
    &__title {
      margin-bottom: 10px;
    }
    &__line {
      margin-bottom: 15px;
    }
    &__examples {
      @include flex(flex, column, center, center);
      flex-wrap: wrap;
      div {
        text-align: center;
        padding: 0 50px;
        @media (max-width: 768px) {
          padding: 0;
        }
      }
      p {
        @include font(16px, 20px, none, none, 700);
        margin-bottom: 10px;
        // media query for large resolutions
        @media (min-width: 2250px) {
          @include font(20px, 24px, none, none, 700);
        }
        @media (min-width: 2500px) {
          @include font(24px, 28px, none, none, 700);
        }
        @media (min-width: 3000px) {
          @include font(28px, 32px, none, none, 700);
        }
      }
      img {
        display: inline-block;
        box-shadow: 0 0 10px #003658;
        border-radius: 30px;
        margin-bottom: 30px;
        // media query for large resolutions
        width: 70%;
        @media (max-width: 768px) {
          width: 80vw;
        }
        
        filter: grayscale(0.7);
        transition: all 0.25s ease-in-out;
        &:hover {
          filter: grayscale(0);
          transform: scale(1.03);
          transition: all 0.4s ease-in-out;
        }
      }
    }
  }

  .line {
    width: 200px;
    height: 3px;
    background-color: #003658;
    // media query for large resolutions
    @media (min-width: 2250px) {
      width: 300px;
      height: 4px;
    }
    @media (min-width: 2500px) {
      width: 340px;
      height: 6px;
    }
    @media (min-width: 3000px) {
      width: 380px;
      height: 8px;
    }
  }

  .title {
    @include font(20px, 24px, 0.1em, none, 700);
    // media query for large resolutions
    @media (min-width: 2250px) {
      @include font(24px, 28px, 0.2em, none, 700);
    }
    @media (min-width: 2500px) {
      @include font(28px, 32px, 0.25em, none, 700);
    }
    @media (min-width: 3000px) {
      @include font(32px, 36px, 0.3em, none, 700);
    }
  }
}
