//подключение шрифтов

//нулевой стиль
@import 'nulestyle.scss';
//файл с миксинами
@import 'mixin.scss';
////////////////////////////////////////
body {
  overflow-x: hidden;
}
// wrapper
.wrapper {
  min-height: 100vh;
  @include flex(flex, row, none, none);
}
// header
.content {
  flex: 1 1 auto;
}

.container {
  min-width: 100%;
}

.main-page {
  @include flex(flex, row, none, flex-start);
}

.left-side {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #094e6f;
  min-height: 100vh;
  width: 28%;
  @include flex(flex, column, flex-start, left);
  &__first-frame {
    .foto {
      img {
        display: block;
        margin: 15px auto;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 4mm ridge rgba(0, 54, 88, 0.6);
      }
    }
    .name {
      p {
        @include font(18px, 30px, none, #fff, 700);
        text-align: center;
      }
      margin-bottom: 15px;
    }
    .contact {
      @include flex(flex, column, center, left);

      p {
        @include font(15px, 15px, none, #fff, 700);
        padding: 5px 30px;
        margin-bottom: 10px;
        background-color: #00365899;
      }
      &__link {
        @include flex(flex, row, left, center);
        // flex-wrap: wrap; media query
        margin-bottom: 15px;
        padding: 0 30px;
        img {
          border: 0px solid #000;
          width: 35px;
          height: 35px;
          border-radius: 0%;
          margin-top: 0;
          margin-bottom: 0;
          filter: brightness(0) invert(1);
        }
        a {
          transition: all 0.25s ease-in-out;
          &:not(:last-child) {
            margin-right: 10px;
          }
          &:hover {
            transform: rotate(360deg);
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
    .dbird {
      p {
        &:first-child {
          @include font(15px, 15px, none, #fff, 700);
          padding: 5px 30px;
          margin-bottom: 15px;
          background-color: #00365899;
        }
        &:last-child {
          @include font(13px, 15px, none, #fff, 400);
          margin-bottom: 15px;
          padding-left: 30px;
        }
      }
    }

    .line {
      width: 98%;
      margin: 0 auto 15px auto;
      height: 5px;
      background-color: #003658;
    }
  }

  &__second-frame {
    .soft-skills {
      padding-left: 30px;
      &__title {
        @include flex(flex, none, none, center);
        p {
          @include font(17px, 21px, none, #fff, 700);
          padding: 0 15px;
        }
        margin-bottom: 15px;
        &::before {
          content: '';
          background-image: url('../img/second_frame/02.png');
          background-repeat: no-repeat;
          width: 35px;
          height: 35px;
          display: inline-block;
        }
      }
      &__list {
        @include font(15px, 19px, none, #fff, none);
        margin: 0 0 15px 20px;
        li {
          list-style: disc;
          padding-right: 15px;
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
    }

    .line {
      width: 98%;
      margin: 0 auto 15px auto;
      height: 5px;
      background-color: #003658;
    }

    .hard-skills {
      padding-left: 30px;
      &__title {
        @include flex(flex, none, none, center);
        p {
          @include font(17px, 21px, none, #fff, 700);
          padding: 0 15px;
        }
        margin-bottom: 15px;
        &::before {
          content: '';
          background-image: url('../img/second_frame/01.png');
          background-repeat: no-repeat;
          width: 35px;
          height: 35px;
          display: inline-block;
        }
      }
      &__list {
        @include font(15px, 19px, none, #fff, none);
        margin-left: 20px;
        li {
          list-style: disc;
          padding-right: 15px;
          &:not(:last-child) {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

.right-side {
  width: 100%;
  &__first-frame {
    margin: 30px 0 15px 0px;
    padding: 0 30px;
    .title {
      margin-bottom: 10px;
    }
    .line {
      margin-bottom: 15px;
    }
    .subtitle {
      @include font(18px, 22px, none, none, none);
      margin-bottom: 30px;
    }
  }
  &__second-frame {
    margin-bottom: 15px;
    padding: 0 30px;
    .title {
      margin-bottom: 10px;
    }
    .line {
      margin-bottom: 15px;
    }
    .last-ed {
      margin-bottom: 15px;
    }
    .last-ed,
    .first-ed {
      &__years,
      &__names {
        margin-bottom: 5px;
      }
      &__years,
      &__names,
      &__direction {
        @include font(16px, 20px, none, none, none);
      }
    }
  }

  &__threeth-frame {
    margin-top: 30px;
    padding: 0 30px;
    .title {
      margin-bottom: 10px;
    }
    .line {
      margin-bottom: 15px;
    }
    .last-ex {
      &__years,
      &__company,
      &__position {
        @include font(16px, 20px, none, none, none);
      }
      &__years,
      &__company {
        margin-bottom: 5px;
      }
    }
  }

  .line {
    width: 200px;
    height: 3px;
    background-color: #003658;
  }

  .title {
    @include font(20px, 24px, 0.1em, none, 700);
  }
}
